name: Label PR on Unique Approvals

on:
  pull_request_review:
    types:
      - submitted

jobs:
  label_pr:
    runs-on: ubuntu-latest
    steps:
      - name: Label bot
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const prNumber = context.payload.pull_request.number;
            const newLabel = 'Kvalitetssikring er gjennomført';
            const existingLabel = 'Klar for kvalitetssikring';

            try {
              const { data: reviews } = await github.rest.pulls.listReviews({
                owner: context.repo.owner,
                repo: context.repo.repo,
                pull_number: prNumber,
              });

              const uniqueApprovers = new Set(reviews.map(review => review.user.login));
              const approvedApprovers = new Set(reviews.filter(review => review.state === 'APPROVED').map(review => review.user.login));
              const requiredUniqueApprovals = 3;

              // Sjekk at det er minst 3 unike godkjenninger
              if (uniqueApprovers.size >= requiredUniqueApprovals && approvedApprovers.size >= requiredUniqueApprovals) {
                // Legg til ny label
                await github.rest.issues.addLabels({
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  issue_number: prNumber,
                  labels: [newLabel],
                });

                // Sjekk om eksisterende label finnes før du prøver å fjerne den
                const existingLabels = await github.rest.issues.listLabelsOnIssue({
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  issue_number: prNumber,
                });

                const existingLabelNames = existingLabels.data.map(label => label.name);

                if (existingLabelNames.includes(existingLabel)) {
                  // Fjern eksisterende label
                  await github.rest.issues.removeLabel({
                    owner: context.repo.owner,
                    repo: context.repo.repo,
                    issue_number: prNumber,
                    name: existingLabel,
                  });
                }
              }
            } catch (error) {
              console.error('Error accessing GitHub API:', error.message);
              process.exit(0);
            }
